$bone: #ece2d0ff;
$picton-blue: #00a7e1ff;
$space-cadet: #111d4aff;
$egyptian-blue: #1E3485;
$cinnabar: #e55934ff;
$mauve: #dfb2f4ff;


$content-color: #43256E;
$background-color: #040911;

$header-background-color: $space-cadet;
$navbar-background-color: $space-cadet;

$title-text-color: $cinnabar;
$link-color: $title-text-color;
$navbar-link-color: $title-text-color;
$bold-text-color: $title-text-color;

$navbar-link-hover-color: $mauve;

$sidebar-background-color: $space-cadet;

$content-background-color: $egyptian-blue;

$footer-background-color: $space-cadet;


$text-color: $bone;