{% extends "base.html" %}

{% block content %}
<noscript>
    I see you there without your js enabled. Be sure this website was designed with noscript in mind.
    If anything does not work or looks broken, please email me about it at <a href="mailto:chase@mailbox.org">chase@mailbox.org</a>
</noscript>
<script src="/scripts/viewcount.js"></script>
<span id="lastupdate"></span><br/>
<span id="hitcount"></span><br/>
<img src="soon.png" style="width: 80%">

{% include "components/commentbox.html" %}
{% endblock content %}