{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>

<p>Inspired by the great writing of the one and only <a
        href="https://thoughts.melonking.net/thoughts/every-site-needs-a-links-page-why-linking-matters">melonking</a>,
    I have put a link list higher on my priority list. So no soon page here!</p>

<h2>Obligatory website frens</h2>
<ul>
    <li><a href="https://webs.radicalgnu.xyz/">Radicalgnu</a></li>
    <li><a href="https://tidbitsburrow.neocities.org/">Tidbits</a></li>
</ul>

<h2>Some other cool peeeps</h2>
<ul>
    <li><a href="https://sadgrl.online">Sadgirl</a><br>webmastery, web-revival, tools and lists</li>
    <li><a href="https://melonking.net">Melonking</a><br>go on an adventure of discovery in the melonzone</li>
</ul>

{% endblock content %}