{% extends "base.html" %}

{% block head %}
<script src="scripts/tpt/tpt-log.js"></script>
<script>
  let started = null
  let endingTime = null

  function getDurationFromMs(time) {
    let negative = false
    if (time < 0) {
      time = time * -1
      negative = true
    }

    const formatDate = new Date(time)
    const milliseconds = formatDate.getMilliseconds()
    formatDate.setMilliseconds(0)
    const seconds = formatDate.getSeconds()
    formatDate.setSeconds(0)
    const minutes = formatDate.getTime() / 60_000

    return {
      milliseconds: milliseconds,
      seconds: seconds,
      minutes: minutes,
      negative: negative
    }
  }

  function formatResult(duration) {
    let suffix = duration.negative ? "too late" : "too early"

    return `You were ${duration.minutes} minutes ${duration.seconds} seconds ${duration.milliseconds} milliseconds ${suffix}`
  }

  document.addEventListener("DOMContentLoaded", () => {
    const resultElement = document.getElementById("tpt_result");
    const theButton = document.getElementById("the_button");
    const runtimeSelect = document.getElementById("select_runtime");

    theButton.disabled = false
    runtimeSelect.disabled = false

    theButton.onclick = (event) => {
      if (started === null) {
        started = Date.now()
        const runtime = parseInt(runtimeSelect.value)
        endingTime = Date.now() + runtime
        event.target.innerText = "Stop"
        resultElement.innerText = ""
      } else {
        const result = getDurationFromMs(endingTime - Date.now())
        resultElement.innerText = formatResult(result)
        window.tpt.addDurationToLog(runtimeSelect.selectedOptions.item(0).innerText, result)
        started = null
        event.target.innerText = "Start"
      }
    }
  })

</script>

<style>
    #tpt_wrapper {
        display: flex;
        flex-direction: column;
    }

    #tpt_result {
        height: 40px;
    }
</style>
{% endblock head %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>
<p class="subtitle"><strong>Last updated: {{ page.extra.last_update }}</strong></p>

<noscript>
    <p>
        Hello dear nojs crowd,
        while I always strive to make this website nojs friendly and work without javascript,
        there is no way of implement a little game like this without using javascript.
    </p>
    <p>As a little appology, here's a picture of a cat</p>
    <img style="max-width: 600px" src="/images/CC0_cat.png" alt="picture of a sleeping cat"><br>
    <a href="https://stocksnap.io/photo/sleeping-cat-HCLLPLCTG9">Photo</a> licenced under
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> by
    <a href="https://stocksnap.io/author/kellyishmael">Kelly Ishmael</a>
</noscript>

{{ page.content | safe }}

<div id="tpt_wrapper">
    <div>
        <select id="select_runtime" disabled>
            <option value="1000">1 seconds</option>
            <option value="10000" selected>10 seconds</option>
            <option value="60000">1 minute</option>
            <option value="300000">5 minutes</option>
            <option value="600000">10 minutes</option>
            <option value="3600000">1 hour</option>
        </select>
        <button id="the_button" disabled>Start</button>
    </div>
    <div id="tpt_result"></div>
    <div id="tpt_save_error"></div>
    <div>
        <label for="tpt_keep_log" id="tpt_keep_log_label">Save log to browser</label>
        <input id="tpt_keep_log" type="checkbox">
        <button id="tpt_clear_button">Clear log</button>
    </div>
    <fieldset>
        <legend>Log</legend>
        <div id="tpt_log"></div>
    </fieldset>
</div>
{% endblock content %}