<aside id="sidebar">
    <h2>Hi there!</h2>
    <div id="buttons">
        <a href="https://sadgrl.online/" target="_blank"><img src="https://sadgrl.online/assets/images/buttons/sadgrlonline.gif"></a>
        <a href="http://lu.tiny-universes.net/images-gfx/index.html" target="_blank"><img src={{ get_url(path="images/buttons/fuck.png") }}></a>
        <a href="https://anlucas.neocities.org/GifFiles" target="_blank"><img src={{ get_url(path="images/buttons/wwwbutton.gif") }}></a>
        <a href="https://yesterweb.org/no-to-web3/" target="_blank"><img style="border:1px solid white;" src="https://yesterweb.org/no-to-web3/img/roly-saynotoweb3.gif"></a>
    </div>
</aside>